# this file is *not* meant to cover or endorse the use of GitHub Actions, but rather to
# help make automated releases for this project

name: Release

on:
  push:
    branches:
      - main

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "latest"
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install build dependencies
      run: uv pip install -U setuptools wheel build
    - name: Install test dependencies
      run: |
        uv pip install -e ".[test]"
    - name: Run tox (tests, lint, coverage)
      run: |
        uv pip install -U tox
        tox
    - name: Build
      run: uv build .
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

